.single {
	margin-bottom: 20px;
	width: 50%!important;

	&__name {
		font-size: 2em;
		font-weight: 600;
	}

	&__image {
		width: 100%;
		background: $dark;
		box-sizing: border-box;
		padding: 2px;
	}

	&__description {

	}

	&__price {

	}

	&__buy {
		top: -7px;
	}	

	&__actions {
		h4 {
			font-weight: 700;
		}
	}
}